* {
  margin:0;
  padding:0;
  box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f5f3ff;
  color: #222;
  line-height: 1.6;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  background: linear-gradient(135deg, #1f3258, #344675);
  color: #fff;
}

.hero-text {
  max-width: 50%;
  animation: slide 1.2s ease-in-out;
}

.hero-text h1 {
  font-size: 2.4rem;
  margin-bottom: 15px;
  font-weight: 600;
}
.hero-text p{
    font-size:1rem;
    opacity: 0.9;
}

.hero-image img {
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255,255,255,0.2);
}

@keyframes slide {
    from{
    opacity: 0;
    transform: translateX(-40px);
}
to {
    opacity: 1;
    transform: translateX(0);
 }
}

nav {
  display: flex;
  justify-content: center;
  background: #1e1b4b;
  padding: 15px 0;
  gap: 30px;
}


nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
  color: #ffd369;
}

.content, .section {
  padding: 60px 10%;
  background: #fff;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.alt {
    background: #eef2f5;
}

.container h2 {
  font-size: 1.8rem;
  color: #1b2a49;
  margin-bottom: 15px;
}

.cards, .grid{
  display:grid;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-top: 20px;
 gap:20px;
}

.cards article, .type-card {
    flex: 1 1 30%;
    background: #f9fafc;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid #1b2a49;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.cards article:hover,
.type-card:hover {
    transform: translateY(-5px);
}

.safety-list li{
    margin-bottom: 12px;
    padding-left: 10px;
}

.resources-list li,
.project-list li {
    margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width:60%;
  margin: auto;
  margin-top: 20px;
}

form input, form textarea{
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

 form button{
  padding:12px;
  background: #1b2a49;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background: #344675;
}

#successMsg {
    text-align: center;
    margin-top: 10px;
    color: green;
}

footer{
  background: #1e1b4b;
  color: #e0e7ff;
  text-align: center;
  padding: 14px;
  margin-top: 40px;
}

@media(max-width:768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text, .hero-image {
        max-width: 100%;
    }

    \nav{
        flex-wrap: wrap;
    }
    form {
        width: 90%
    }
}
